#map   {
    height: 700px; 
    width: 94%; 
    position:relative; 
    background-color: rgba(200, 217, 241, 0.76);
    top: 120px;
    left: 1.7%;
    padding: 20px;
    border-radius: 20px;
}
#search {
    position: absolute ; 
    right: 6%; 
    top: 5%; 
    border-radius: 0px;
}

   
#container {
width: 20px;
height: 20px;
}
img {
width: 80vh;
height: 80vh;
object-fit: contain;
position: absolute;
top: -33.5%;
left: 2%;
}


.leaflet-control-custom {

    
    border-radius: 5px;
    padding: 5px;
    
    }
.custom-button {
    display: flex;
    position: top;
    width: 100%;
    background-color: #0d36bbce;
    margin-bottom: 4px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    
    }
    
.floor-select {
    display: none;
    position: top;
    z-index: 1000;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    width: 80px;
    
    }    
.leaflet-control-attribution {
display: none;
}
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
border: none !important;
box-shadow: none !important;
background-image: none !important;
}